# Database
DATABASE_URL=postgresql+psycopg://root:123456@localhost:5430/english_app_db

# Initial Admin Account
FIRST_ADMIN_USERNAME=your_admin_username_here
FIRST_ADMIN_EMAIL=your_admin_email_here
FIRST_ADMIN_PASSWORD=your_admin_password_here

# Authentication / JWT
SECRET_KEY=your_secret_key_here
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=your_access_token_expiration_minutes_here
REFRESH_TOKEN_EXPIRE_DAYS=your_refresh_token_expiration_days_here
REFRESH_COOKIE_NAME=your_refresh_cookie_name_here
REFRESH_COOKIE_SECURE=your_refresh_cookie_secure_here
REFRESH_COOKIE_SAMESITE=your_refresh_cookie_samesite_here

# Google Sign-In
GOOGLE_CLIENT_ID=your-google-web-client-id.apps.googleusercontent.com
GOOGLE_NONCE_COOKIE_NAME=google_oauth_nonce
GOOGLE_NONCE_EXPIRE_SECONDS=300

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name_here
CLOUDINARY_API_KEY=your_cloudinary_api_key_here
CLOUDINARY_API_SECRET=your_cloudinary_api_secret_here

# Frontend / CORS
FRONTEND_URL=your_frontend_url_here
FRONTEND_VERIFY_PATH=your_frontend_verify_path_here
FRONTEND_RESET_PASSWORD_PATH=your_frontend_reset_password_path_here
CORS_ORIGINS=["your_cors_origins_here"]

# Timezone
APP_TIMEZONE=your_timezone_here
